* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Sora", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* Common */
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 50px);
}

.btn {
  padding: 0;
  display: flex;
  justify-content: center;
  width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background-color: #2e80ce;
  border: none;
  cursor: pointer;
  font-family: Sora;
}

.btn:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background-color: #10375c;
  min-height: 100vh;
}

.header-top {
  background-color: #10375c;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-size: 1rem;
}

.logo__circle {
  position: relative;
}

.logo__circle::before {
  display: inline-block;
  content: "";
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #2e80ce;
}

.logo__circle::after {
  top: 1.1em;
  left: 1.1em;
  position: absolute;
  display: inline-block;
  content: "";
  width: 1.6em;
  height: 1.6em;
  background: #fff;
  border-radius: 50%;
}

.logo__text {
  margin-left: 6px;
}

.logo__brand {
  color: #fff;
  text-align: right;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 77.778%;
}

.logo__brand-small {
  display: block;
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.16em;
  text-align: right;
}

.navbar__list {
  display: flex;
  gap: 42px;
}

.navbar__item a {
  text-decoration: none;
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.navbar__item--active a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar__item--active a,
.navbar__item a:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__item--active a::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__login {
  margin-right: 28px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.header-action .btn {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  width: 104px;
  line-height: 44px;
}

/* Hero */
.hero {
  display: flex;
  padding-top: 56px;
  gap: 113px;
  align-items: center;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 114.286%;
  letter-spacing: -0.02em;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__row .btn {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 60px;
}

.hero__call {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
}

.hero__content {
  width: 44.2%;
}

.hero__images {
  display: flex;
  align-items: center;
}

.hero__image:first-child {
  position: relative;
  z-index: 1;
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__image:last-child {
  margin-left: -6px;
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}

/* Services */
.services {
  padding-top: 170px;
  padding-bottom: 170px;
}

.services__heading {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.services__desc {
  margin: 18px auto 70px;
  width: 40%;
  color: #575f66;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%;
}

.services__image {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.services__content .btn {
  margin-top: 55px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.services__row {
  display: flex;
  align-items: center;
  gap: 130px;
}

.services-item {
  display: flex;
  gap: 19px;
  padding: 20px 22px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.25s;
}

.services-item__icon {
  color: #10375c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #eff6fd;
}

.services-item:hover .services-item__icon,
.services-item:hover .services-item__icon path {
  background-color: #2e80ce;
  fill: #fff;
}

.services-item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item__body .title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.services-item__body .desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

/* Work */
.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.work__desc {
  margin-top: 18px;
  width: 40%;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%;
}

.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px 42px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transition: 0.25s;
}

.work-item:hover {
  transform: translateY(-16px);
  border-color: #2e80ce;
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 138.462%;
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.work-item__cta {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 175%;
}

/* Features */
.features {
  padding: 170px 0;
}

.features .container {
  display: flex;
  gap: 130px;
  align-items: center;
}

.features__image:first-child {
  display: block;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.features__image:last-child {
  display: block;
  position: absolute;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  bottom: 0;
  right: 0;
}

.features__images {
  display: inline-block;
  position: relative;
  padding: 0 58px 121px 0;
}

.features__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.features__desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%;
}

.features__cta {
  margin-top: 38px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

/* Members */
.members__heading {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.members__cta {
  margin: 38px auto 0;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.members__list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.members-item:hover .members-item__image {
  transform: scale(1.1);
}

.members-item__image-bg {
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}

.members-item__image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 290px;
  transition: 0.25s;
}

.members-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%;
}

.members-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 185.714%;
}

.members__control {
  margin-top: 38px;
  display: flex;
  gap: 18px;
  justify-content: center;
}

.control__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  color: #575f66;
}

.control__btn:hover {
  color: #fff;
  background-color: #2e80ce;
}

/* Install */
.install {
  padding-top: 265px;
  padding-bottom: 170px;
}

.install .container {
  display: flex;
  gap: 160px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: #2e80ce;
  padding: 0 70px;
}

.install__image {
  margin-top: -95px;
  display: block;
  width: 284px;
  height: 522px;
  object-fit: cover;
}

.install-content__heading {
  max-width: 489px;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.install-content__desc {
  margin-top: 18px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%;
}

.install-content__images {
  display: flex;
  gap: 28px;
  margin-top: 38px;
}

.install-content__image {
  display: block;
}

/* News */
.news .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__content {
  width: 40.2%;
}

.news__heading {
  margin-bottom: 28px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.news__cta {
  color: #10375c;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 155.556%;
  border-bottom: solid 1.6px currentColor;
}

.news__control {
  margin-top: 28px;
  display: flex;
  gap: 18px;
}

.news__list {
  display: flex;
  gap: 30px;
  width: 48.72%;
}

.news-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  transition: 0.25s;
}

.news-item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.news-item__thumb {
  border-radius: 12px 12px 0 0;
}

.news-item__thumb {
  overflow: hidden;
}

.news-item__image {
  display: block;
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  object-fit: cover;
  transition: 0.25s;
}

.news-item:hover .news-item__image {
  transform: scale(1.1);
}

.news-item__heading a {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 162.5%;
}

.news-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 171.429%;
}

.news-item__cta {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
}

.news-item__cta:hover {
  color: #2e80ce;
}

.news-item__body {
  padding: 18px 22px 21px;
}

/* Appointment */
.appointment {
  padding-top: 170px;
  padding-bottom: 170px;
}

.appointment .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6fbff;
}

.appointment__heading {
  margin-top: 100px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.appointment__desc {
  width: 52.74%;
  text-align: center;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.appointment__btn {
  margin-top: 38px;
  margin-bottom: 100px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.appointment__separate {
  margin-top: 18px;
  width: 136px;
  height: 2px;
  background: #2e80ce;
}

/* Footer */
.footer {
  background: #10375c;
  padding: 100px 0 42px;
}

.footer__row {
  padding-bottom: 28px;
  display: flex;
  border-bottom: 1px #406181 solid;
  justify-content: space-between;
}

.column-1 {
  width: 28.72%;
}

.column-1__desc {
  margin-top: 21px;
  color: #a9b3bb;
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 175%;
}

.column-2,
.column-3 {
  width: 11.55%;
}

.column-2__list {
  margin-top: 20px;
}

.column-2__heading {
  color: #fff;
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%;
}

.column-2__heading:nth-of-type(2) {
  margin-top: 28px;
}
.column-2__item {
  margin-top: 10px;
}

.column-2__item a {
  color: #a9b3bb;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}

.column-3__list {
  margin-top: 20px;
}

.column-3__item {
  margin-top: 10px;
}

.column-3__heading {
  color: #fff;
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%;
}

.column-3__heading:nth-of-type(2) {
  margin-top: 28px;
}

.column-3__item a {
  color: #a9b3bb;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}

.column-4 {
  width: 28.38%;
}

.column-4__heading {
  color: #fff;
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%;
}

.column-4__icons {
  margin-top: 20px;
  margin-bottom: 28px;
  display: flex;
  gap: 10px;
}

.column-4__icon {
  color: #2e80ce;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #ffffff;
  transition: 0.25s;
}

.column-4__icon:hover {
  background-color: #2e80ce;
  color: #fff;
}

.column-4__desc {
  max-width: 273px;
  margin-top: 20px;
  color: #a9b3bb;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}

.footer__form {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

.footer__form input {
  font-family: Open Sans;
  width: 212px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #406181;
  background-color: transparent;
  outline: none;
  padding: 0 10px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer__form input::placeholder {
  color: #9ca8b1;
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 185.714%;
}

.footer__submit {
  width: 108px;
  line-height: 46px;
  flex-shrink: 0;
  border-radius: 4px;
  color: #fff;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 600;
}

.footer__copyright {
  margin-top: 28px;
}

.footer__copyright-text {
  color: #aab3ba;
  text-align: center;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}
